.hide {
    display: none;
}

body {
    cursor: default;
}


/* Login and signup page */

#login-container {
    /* border: 2px solid ; */
    /* margin-top: 50%; */
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 33px black;
}

@media (max-width: 680px) {
    #login-container {
        width: 80%;
    }
}

#login label {
    font-weight: bold;
}

.sign {
    text-decoration: none;
    color: black;
}

.sign:hover {
    cursor: pointer;
    color: #0b5ed7;
}


/* after login */

#bal-container {
    font-weight: bolder;
    font-size: 78px;
    text-align: center;
}

#logTable {
    font-size: 20px;
    text-align: center;
}

tr {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    height: 70px;
    border: solid black 1.5px;
}